.FilterForm {
  margin: 1em 1em 0 1em;
  text-align: left; 
}

.filter-and-clear {
  display: flex;
  margin: 0.5em 0;
}

.filter-text {
  margin: 0;
}

.clear-filters {
  background-color: #282828;
  color: white; 
  border: none;
}

.clear-filters:hover {
  cursor: pointer;
}

.row1 {
  padding-bottom: 0.5em;
}

.filter-btn {
  margin-top: 1em;
}