.Breweries {
  background-image: url('../images/asfalt-wallpaper.png');
  margin: 2em; 
}

.brewery-cards {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2em;  
}

.results-top-text {
  display: flex;
  justify-content: space-between;
}

.results-heading {
  margin-bottom: 0;
  align-self: center; 
}

a {
  text-decoration: none;
  color: white
}

.extra-space {
  width: 255px; 
}

@media screen and (max-width: 1150px) {
  .brewery-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .brewery-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .brewery-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .brewery-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .brewery-cards {
    grid-template-columns: 1fr;
  }
}