body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/beer-background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  font-family: 'Grandstander', cursive;
}

.error {
  color: #cc0000; 
  margin: 0.5em;
}

/* color scheme */
/* #FCBE01 */
/* #0101fc OR */ 
/* #fc017e & #01f8fc */
